{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ],
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "noMultipleEmptyLines": ["warning", { "max": 1 }],
  "singleAttributePerLine": true
}
