footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 120px;
  width: 100vw;
  background: linear-gradient(180deg, #00000000, black);
  // background-color: black;
  font-size: 26px;
  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 80px;
    margin-bottom: 8px;
  }

  a {
    color: #14cccc;
  }
}
